body {
  font-family: 'Noto Sans Thai';
  background-image: url('banner.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fffefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  font-family: 'Noto Sans Thai';
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  font-family: 'Noto Sans Thai';
  background-image: linear-gradient(90deg, rgba(0, 169, 127, 1) 0%, rgb(45, 143, 118) 100%);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
  color: #ffffff7a;
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.error {
  color: red;
  margin-bottom: 15px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-right: 100%;
}

.tooltip-btn {
  background-color: #08fc00;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  width: auto;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-text {
  visibility: hidden;
  width: 500px;
  height: auto;
  background-color: #0000009d;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}